  /* defaults */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #aedde8c2;
    width: 300px;
    padding: 15px;
    font-family: Arial, sans-serif;
  }
  
  h2{
    width:80%;
    text-align: center;
    padding: 5px;
    text-shadow: 2px 2px 4px rgb(144, 136, 136);
  }
  label{
    color: rgba(22, 8, 0, 0.915);
  }

  input {
 
    margin-top: 10px;
    width: 80%;
    opacity: 0.8;
    border: 1px solid #5855fe76;
    border-radius: 4px;
    outline: none;
    padding: 5px;
  }
  input:focus-visible{
    box-shadow: -1px -1px 2px black;
    opacity: 1; 
  }
  /* input:active{
    box-shadow: -1px -1px 2px black;
    opacity: 0.7;
  } */

  textarea {
    margin-top: 8px;
    opacity: 0.8;
    border: 1px solid #5855fe76;
    border-radius: 4px;
    outline: none;
    width: 90%;
    height: 100px;
    padding: 10px;
  }
  textarea:focus-visible{
    box-shadow: -1px -1px 2px black;
    opacity: 1; 
  }

  button {
    border: 1px solid #a6a5e1;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    color: white;
    background-color: #5755FE;
    margin: 4px;
    display: inline-block;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  button:hover {
    opacity: 0.9;
    transform: translateY(-10%);
  }

  button:active {
    opacity: 0.7;
  }


  /* utilities */

  .screen{
    border-radius: 4px;
    width: 80%;
    background-color: #7877b757;
    padding: 10px;
    margin-bottom: 10px;
  }


  .display-none {
    display: none;
  }
  .container {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: #f2e9f3ac;
  }

  .sub-container {
    background-color: rgba(209, 214, 229, 0.86);
    margin-bottom: 20px;
  }

  .title-container{
     display: flex;
  }
  /* selectors */
  .title {
    width: 90%;
    background-color: #d0c6c6;
    font-weight: 400;
    color: #181515e5;
  }

  .remove{
    background-color: red;
    width: 8%;
    height: 22px;
    padding: 1px;
  }

  .val {
    padding: 10px;
  }